@import url('layout/IconStackContainer.css');
@import url('layout/IconStackController.css');
@import url('layout/TabletContainer.css');

@import url('widget/Accept.css');
@import url('widget/ItemListEditor.css');
@import url('widget/Title.css');
@import url('widget/TitlePane.css');
@import url('widget/Wizard.css');

@import url('widget/layout/CommonBox.css');
@import url('widget/layout/InlineHelp.css');
@import url('widget/layout/InlineMessage.css');
@import url('widget/layout/Wizard.css');

@import url('widget/layout/TabletWizard.css');
@import url('widget/layout/FloatingBox.css');
@import url('widget/layout/VerticalCalendar.css');

@import url('widget/media/Audio.css');

@import url('widget/form/CheckList.css');
@import url('widget/form/TwoLevelCheckList.css');
@import url('widget/form/TextBox.css');
@import url('widget/form/TextboxList.css');
@import url('widget/form/SelectableTextboxList.css');
@import url('widget/form/SelectableTextbox.css');
@import url('widget/form/ToolbarForm.css');

@import url('widget/Tooltip.css');

@import url('BlankButton.css');

.not_found
{
	text-align:center;
	margin:15px;
	font-size:1.2em;
	color:#ae0000;
}

.loading
{
	text-align:center;
	margin:15px;
	font-size:1.2em;
}