<!DOCTYPE html>
<html>
<head>
	<meta httpEquiv="Content-Type" value="text/html;charset=utf-8">

	<title>PWL.layout.SlideStackContainer</title>

	<link id="themeStyles" rel="stylesheet" href="../../../dijit/themes/tundra/tundra.css">
	<link rel="stylesheet" href="../../themes/proxia/proxia.css">

	<script type="text/javascript">

	var djConfig =
	{
		parseOnLoad: true,
		isDebug: true,
		debugAtAllCosts: true,
		modulePaths:
		{
			'pwl' : '../pwl'
		}
	};

	</script>

	<!-- required: dojo.js -->
	<script type="text/javascript" src="../../../dojo/dojo.js"></script>

	<script language="JavaScript" type="text/javascript">

		dojo.require('dijit.layout.ContentPane');
		dojo.require('dijit.form.Button');

		dojo.require('pwl.layout.SlideStackContainer');

		dojo.addOnLoad( function ()
		{
			dojo.connect(dojo.byId('p1'), 'onclick', function()
			{
				dijit.byId('W1').selectChild(dijit.byId('page1'))
			});
			
			dojo.connect(dojo.byId('p2'), 'onclick', function()
			{
				dijit.byId('W1').selectChild(dijit.byId('page2'))
			});
			
			dojo.connect(dojo.byId('p3'), 'onclick', function()
			{
				dijit.byId('W1').selectChild(dijit.byId('page3'))
			});
		});
	</script>

</head>
<body class="proxia tundra">

	<h1 class="testTitle">PWL.layout.SlideStackContainer</h1>

	<div id="W1" dojoType="pwl.layout.SlideStackContainer" type="left-right" style="width: 800px; height: 700px;margin:20px auto;">
		<div dojoType="dijit.layout.ContentPane" title="Pane 1" id="page1" style="background-color:red">Pane 1 content</div>
		<div dojoType="dijit.layout.ContentPane" title="Pane 2" id="page2"  style="background-color:blue">Pane 2 content</div>
		<div dojoType="dijit.layout.ContentPane" title="Pane 3" id="page3"  style="background-color:lime">Pane 3 content</div>
	</div>
	<a id="p1" >page 1 </a>
	<a  id="p2" >page 2 </a>
	<a  id="p3" >page 3 </a>
</body>
</html>