
.pwlWidgetTitlePane
{
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;
}

.pwlWidgetTitlePane > header
{
	position: relative;
	
	height: 30px;
}

.pwlWidgetTitlePane > header > .title_widget
{
	position: absolute;
	
	left: 0;
	right: 0px;
	top: 0;
	bottom: 0;
	border-right: 1px solid silver;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	border-top-left-radius : 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	
	background-color: #ececec;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a2a2a2), to(#ececec)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #a2a2a2, #ececec); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #a2a2a2, #ececec); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #a2a2a2, #ececec); /* IE10 */
	background-image:      -o-linear-gradient(top, #a2a2a2, #ececec); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #a2a2a2, #ececec);		
}

.pwlWidgetTitlePane > header > .title_widget div.title
{
	letter-spacing:2px;
	text-shadow: 0.1em 0.1em 0.2em gray;
	font-weight:bold;
	color: #3e3e3e;
    font-size: 1.2em;
	padding:3px;
	left: 7px;	
}

.pwlWidgetTitlePane > header > .title_widget > *
{
	position: absolute;
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.pwlWidgetTitlePane .dijitTitlePaneTitle
{
	position: absolute;
	padding-top:0;
	padding-bottom:0;
	right: 0;
	top: 0;
	width: 20px;
	height: 24px;
	display: inline-block;
	border:none;
	
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-bottomleft: 12px;
	-webkit-border-bottom-left-radius: 12px;
	
}

.pwlWidgetTitlePane .dijitTitlePaneTitle:hover
{
	background-color:#6a6a6a;
}

.pwlWidgetTitlePane .dijitClosed
{
	background: #4d4d4d url(../../../../themes/proxia/images/icons/12x12/draw-triangle4.png) no-repeat center center;	
}

.pwlWidgetTitlePane .dijitOpen
{
	background: #4d4d4d url(../../../../themes/proxia/images/icons/12x12/draw-triangle3.png) no-repeat center center;	
}

.pwlWidgetTitlePane .dijitTitlePaneTextNode
{
	display: none;
}