.pwlWidgetTitlePaneToolbarTitleWidget
{ 
  padding:0;

}

.pwlWidgetTitlePaneToolbarTitleWidget > .title
{
	position: absolute;
}

.pwlWidgetTitlePaneToolbarTitleWidget > .toolbar_container
{
	position: absolute;
	top:2px;
	right: 65px;
}

.pwlWidgetTitlePaneToolbarTitleWidget .dijitToolbar
{
	display: inline-block;
	border: 1px solid #CCC;	
}

.pwlWidgetTitlePaneToolbarTitleWidget .dijitToolbar
{
	display: inline-block;
	border: 1px solid #CCC;	
}


	