
.proxia .pwlWidgetItemListEditor
{
}

.proxia .pwlWidgetItemListEditor span[dojoAttachPoint=n_new_item]
{
	color: navy;

	cursor: pointer;
}

.proxia .pwlWidgetItemListEditor span[dojoAttachPoint=n_new_item]:hover
{
	text-decoration: underline;
}