/******************************************************************************/
/** StackController ***********************************************************/
/******************************************************************************/

.pwlLayoutIconStackController
{
	overflow: auto;
}

/******************************************************************************/
/** DialogButton **************************************************************/
/******************************************************************************/

.pwlLayoutIconStackControllerButton
{
	margin: 4px 2px;
	width:95%;
	text-align: center;
	cursor: pointer;
	border: 1px solid #ebe9e6;
	font-size:0.95em;
	display:block;
	border-radius: 4px;
	-moz-border-radius:4px;
}

.tundra .pwlLayoutIconStackControllerButton
{
	margin-bottom:5px;
}

.pwlLayoutIconStackControllerButton span
{
	display:block;
	border-radius: 4px;
	-moz-border-radius:4px;
}

.pwlLayoutIconStackControllerButton span[aria-selected=true]
{
	background-color: #c82c30;
	color:White;
	margin:0;
	color: white;
}

.pwlLayoutIconStackControllerButton span[aria-selected=false]:hover
{
	background-color: #ebe9e6;
}

.pwlLayoutIconStackControllerButton span[aria-selected=false]
{
	margin:2px;
}

.pwlLayoutIconStackControllerButton span[dojoAttachPoint=iconNode]
{
	margin: auto;
	width: 62px;
	height: 62px;
}

.pwlLayoutIconStackControllerButton strong
{
	display: block;
	font-size: 0.9em;
	margin-top: 5px;
}

/******************************************************************************/
/** DialogButton THEME likegoogle **************************************************************/
/******************************************************************************/

.pwlLayoutIconStackContainer[class~='likegoogle'] .pwlLayoutIconStackControllerButton
{
	margin: 0;
	width:100%;
	text-align: center;
	cursor: pointer;
	font-size:0.95em;
	display:block;
	border: none;
	background: none;
}

.pwlLayoutIconStackContainer[class~='likegoogle'] .pwlLayoutIconStackControllerButtonFocused
{
	border: 0;
}

.pwlLayoutIconStackContainer[class~='likegoogle'] .pwlLayoutIconStackControllerButton > span
{
	display:block;
	border: 0;
	background: none;
	font: normal 13px;
}

.pwlLayoutIconStackContainer[class~='likegoogle'] .pwlLayoutIconStackControllerButton .dijitButtonNode
{
	padding: 0;
}

.pwlLayoutIconStackContainer[class~='likegoogle'] .pwlLayoutIconStackControllerButton span[aria-selected=true]
{
	color: red;
	border-radius: 0;
	outline-color: transparent;
	border-width: 1px 0 ;
	border-color: #e0e0e0;
	border-style: dotted ;
	background: url('../images/tabs/tab-selected.png') right center no-repeat ;

}

.pwlLayoutIconStackContainer[class~='likegoogle'] .pwlLayoutIconStackControllerButton span[aria-selected=false]
{
	color: gray;
	background: none;
	margin: 0;
	border-width: 1px 0 ;
}

.pwlLayoutIconStackContainer[class~='likegoogle'] .pwlLayoutIconStackControllerButton span[aria-selected=false]:hover
{
	color: black;
	background: none;
}


