/******************************************************************************/
/** StackController ***********************************************************/
/******************************************************************************/

.pwlLayoutIconStackController
{
	overflow: auto;
}

/******************************************************************************/
/** DialogButton **************************************************************/
/******************************************************************************/

.pwlLayoutIconStackControllerButton
{
	margin: 4px 2px;
	width:95%;
	text-align: center;
	cursor: pointer;
	border: 1px solid #ebe9e6;
	font-size:0.95em;
	display:block;
	border-radius: 4px;
	-moz-border-radius:4px;
}

.tundra .pwlLayoutIconStackControllerButton
{
	margin-bottom:5px;
}

.pwlLayoutIconStackControllerButton span
{
	display:block;
	border-radius: 4px;
	-moz-border-radius:4px;
}

.pwlLayoutIconStackControllerButton span[aria-selected=true]
{
	background-color: #c82c30;
	color:White;
	margin:2px;
	color: white;
}

.pwlLayoutIconStackControllerButton span[aria-selected=false]:hover
{
	background-color: #ebe9e6;
}

.pwlLayoutIconStackControllerButton span[aria-selected=false]
{
	margin:2px;
}

.pwlLayoutIconStackControllerButton span[dojoAttachPoint=iconNode]
{
	margin: auto;
	width: 62px;
	height: 62px;
}

.pwlLayoutIconStackControllerButton strong
{
	display: block;
	font-size: 0.9em;
	margin-top: 5px;
}