/******************************************************************************/
/** StackContainer ************************************************************/
/******************************************************************************/

.pwlLayoutIconTabContainer div[dojoattachpoint=containerNode]
{
	position: absolute;

	top: 0;
	bottom: 0;
	right: 0;

	border: 1px solid #ebe9e6;
}

/******************************************************************************/
/** StackController ***********************************************************/
/******************************************************************************/

.pwlLayoutIconTabContainer .dijitStackController
{
	position: absolute;

	top: 0;
	bottom: 0;
	left: 0;

	min-width: 8.6em;

	overflow: auto;

	border: 1px solid #ebe9e6;
}

/******************************************************************************/
/** DialogButton **************************************************************/
/******************************************************************************/

.pwlLayoutIconTabContainerButton
{
	margin: 0.5em;

	min-width: 6.5em;
	min-height: 6.5em;

	text-align: center;

	cursor: pointer;
	outline: 1px solid #ebe9e6;
}

.pwlLayoutIconTabContainerButton[aria-selected=true]
{
	background-color: #c82c30;
}

.pwlLayoutIconTabContainerButton[aria-selected=false]:hover
{
	background-color: #ebe9e6;
}

.pwlLayoutIconTabContainerButton div:first-child
{
	margin: auto;

	width: 62px;
	height: 62px;
}

.pwlLayoutIconTabContainerButton strong
{
	display: block;

	margin-top: 0.5em;
}