
.pwlLayoutIconStackContainer
{
	position: relative;

	overflow: auto;
}

.pwlLayoutIconStackContainer > .pwlLayoutIconStackController
{
	position: absolute;

	top: 0;
	bottom: 0;
	left: 0;

	width: 115px;
}

.pwlLayoutIconStackContainer > div[dojoAttachPoint=containerNode]
{
	position: absolute;
	overflow:hidden;
	top: 0;
	bottom: 0;
	left: 120px;
	right: 0;
}

.pwlLayoutIconStackContainer .dijitVisible
{
	position: absolute;
}