@import url('inlineMessage/Error.css');
@import url('inlineMessage/Info.css');

.pwlWidgetLayoutInlineMessage > div
{
	margin: 5px;
	padding:10px;
	background-color:#ECECEC;
	font-size:0.9em;
	border-radius: 0.4em;
	-moz-border-radius: 0.4em; 
	border:1px solid #7DA8CA;
}

.pwlWidgetLayoutInlineMessage > connector
{
	border:0px;
	z-index: 2;
	
}	

