<div>
	<div>
		<span>Combo 1:</span> <span dojoType="dijit.form.ComboBox">
			<option>Option 1</option>
			<option>Option 2</option>
			<option>Option 3</option>
		</span>
	</div>
	<div>
		<span>Combo 2:</span> <span dojoType="dijit.form.ComboBox">
			<option>Option 4</option>
			<option>Option 5</option>
			<option>Option 6</option>
		</span>
	</div>
		
	<br>
	
	<div>
		<span>Val 1:</span> <span dojoType="dijit.form.CheckBox" name="g"></span>
		<span>Val 2:</span> <span dojoType="dijit.form.CheckBox" name="g"></span>
	</div>
</div>