.pwlWidgetFormCheckList .list_container
{
	overflow: auto;
}

.pwlWidgetFormCheckList li,
.pwlWidgetFormCheckList label
{
	cursor: pointer;
}

.pwlWidgetFormCheckList ul
{
	margin-top: 5px;

	padding-left: 10px;

	list-style-position: inside;
	list-style-type: none;

	color: #404040;
}

.pwlWidgetFormCheckList ul > li
{
	list-style-type: none;

	padding: 3px;

	margin-right: 10px;

	border-bottom: 1px dotted silver;
}

.pwlWidgetFormCheckList ul > li.selected,
.pwlWidgetFormCheckList ul > li.selected:hover
{
	background-color: #C1DFA9;
}

.pwlWidgetFormCheckList ul > li:hover
{
	background-color: #F3F8E2;
}

.pwlWidgetFormCheckList ul > li > label
{
	padding: 3px;
}

 .pwlWidgetFormCheckList div[dojoattachpoint="n_search"]
{
	margin: 5px;
}

 .pwlWidgetFormCheckList strong[dojoattachpoint="n_title"]
 {
	 font-size: 1.2em;
	 color: #494949;
	 display: block;
	 padding-left: 10px;
	 padding-top: 5px;
 }
 
 .pwlWidgetFormCheckList .overlay
 {
     opacity: 0.75;
     top:0;
     background: silver url("../../images/loading/loading1.gif") no-repeat center center;
 }