.proxia .pwlWidgetFormTextBox .dijitInputField
{
	padding-right:25px;
	position:relative;
}

.proxia .pwlWidgetFormTextBox .closeBox
{
	position:absolute;
	right:1px;
	top:0;
	width:20px;
	bottom:0;
	cursor:pointer;
	background-image:url(../../images/icons/16x16/edit-clear.png);
	background-position:right center;
	background-repeat:no-repeat;
}
