
<span class="dijit dijitReset dijitInline ${baseClass}">
	<span class="dijitReset dijitInline dijitButtonNode"
		dojoAttachEvent="ondijitclick:_onButtonClick">
		<span class="dijitReset dijitStretch dijitButtonContents " dojoAttachPoint="titleNode,focusNode"
			waiRole="button" waiState="labelledby-${id}_label">
			<span class="dijitReset dijitInline dijitIcon" dojoAttachPoint="iconNode"></span>
			<span class="dijitReset dijitInline dijitButtonText" id="${id}_label" dojoAttachPoint="containerNode">
			</span>
		</span>
	</span>
</span>