<div class="${baseClass}">
	<div class="navigation_left" dojoAttachPoint="n_navigation_left">
		<span dojoAttachPoint="n_prev" class="prev"></span>
	</div>
	
	<div class="container" dojoAttachPoint="containerNode">
		<section class="date monday">
			<header>nadpis</header>
			<div>ss1</div>
		</section>
		<section class="date tuesday">
			<header>nadpis</header>
			<div>ss2</div>
		</section>
		<section class="date wednesday">
			<header>nadpis</header>
			<div>ss3</div>
		</section>
		<section class="date thursday">
			<header>nadpis</header>
			<div>ss4</div>
		</section>
		<section class="date friday">
			<header>nadpis</header>
			<div>ss5</div>
		</section>
		<section class="date saturday">
			<header>nadpis</header>
			<div>ss6</div>
		</section>
		<section class="date sunday">
			<header>nadpis</header>
			<div>ss7</div>
		</section>		
	</div>
	
	<div class="navigation_right" dojoAttachPoint="n_navigation_right">
		<span dojoAttachPoint="n_next" class="next"></span>
	</div>
</div>